# Data Structures

In [ ]:
Data structure:
    A way of organizing and storing data

In [ ]:
- list
- tuple
- dictionary
- sets

In [ ]:
list:
    Lists are used to store multiple items in a singel variable

In [2]:
# empty list
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [3]:
li1=[4,5,6,"apssdc","work",8.34,2.3,12.90]
print(li1)

[4, 5, 6, 'apssdc', 'work', 8.34, 2.3, 12.9]

In [8]:
# min(),max(),sorted(),len(),sum()
li2=[1,2,3,12,56,787,89]
print(min(li2))
print(max(li2))
print(sorted(li2))
print(sum(li2))
print(len(li2))

1
787
[1, 2, 3, 12, 56, 89, 787]
950
7

In [9]:
# slicing
li2=[1,2,3,12,56,787,89]
li2[2:6]

[3, 12, 56, 787]

In [10]:
li2[-1]

89

In [11]:
li2[::-1]

[89, 787, 56, 12, 3, 2, 1]

In [ ]:
# lists are mutable

In [12]:
li2

[1, 2, 3, 12, 56, 787, 89]

In [14]:
li2[2]=87
print(li2)

[1, 2, 87, 12, 56, 787, 89]

In [15]:
li2

[1, 2, 87, 12, 56, 787, 89]

In [16]:
# nested list
li3=[1, 2, 87, [4,5,6],12, 56, 787, 89]
li3

[1, 2, 87, [4, 5, 6], 12, 56, 787, 89]

In [17]:
li3[3]

[4, 5, 6]

In [19]:
li3[3][2]

6

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
# append
li=[3,4,2,67,89,11]
print(li)
li.append(77)
print(li)

[3, 4, 2, 67, 89, 11]
[3, 4, 2, 67, 89, 11, 77]

In [24]:
# count
li2=[3,3,4,5,3, 4, 2, 67, 89, 11, 77]
print(li2.count(3))
print(li2.count(4))

3
2

In [26]:
# index
print(li2.index(67))
print(li2.index(77))

7
10

In [29]:
# reverse
print(li2)
li2.reverse()
print(li2)

[77, 11, 89, 67, 2, 4, 3, 5, 4, 3, 3]
[3, 3, 4, 5, 3, 4, 2, 67, 89, 11, 77]

In [31]:
# insert
k=[34,1,2,3,5,7]
print(k)
k.insert(3,13)
print(k)

[34, 1, 2, 3, 5, 7]
[34, 1, 2, 13, 3, 5, 7]

In [32]:
# remove
k1=[34, 1, 2, 13, 3, 5, 7]
k1.remove(13)
print(k1)

[34, 1, 2, 3, 5, 7]

In [39]:
# pop()
k1.pop(1)
print(k1)

IndexError: pop index out of range

In [43]:
# copy()
li1=[2,3,4,5,1,9]
li2=li1.copy()
print(li1)
print(li2)
li1.pop()
print(li1)
print(li2)

[2, 3, 4, 5, 1, 9]
[2, 3, 4, 5, 1, 9]
[2, 3, 4, 5, 1]
[2, 3, 4, 5, 1, 9]

In [44]:
# Assigment
li1=[2,3,4,5,1,9]
li2=li1
print(li1)
print(li2)
li1.pop()
print(li1)
print(li2)

[2, 3, 4, 5, 1, 9]
[2, 3, 4, 5, 1, 9]
[2, 3, 4, 5, 1]
[2, 3, 4, 5, 1]

In [45]:
h=[2, 3, 4, 5, 1, 9]
h.clear()
print(h)

[]

In [46]:
h=[2, 3, 4, 5, 1, 9]
for i in h:  # 2 3 4 5....9
    print(i,end=' ') # 2 3 4...9

2 3 4 5 1 9

In [47]:
h=[2, 3, 4, 5, 1, 9]
for i in h:
    print(i*i,end=' ')

4 9 16 25 1 81

In [50]:
h=[2, 3, 4, 5, 1, 9]
for i in h:  # 2  3
    if(i%2==0): # 2%2==0(T) 5%2==0(F)
        print(i,end=' ') # 2  4

2 4

In [ ]:
# Duplicates remove
i/p: [12,34,25,12,10,10,3,12]
o/p: [12,34,25,10,3]

In [53]:
li=[12,34,25,12,10,10,3,12]
li1=[]
for i in li: # 12 34 25 12
    if i not in li1: #  12 not in li1
        li1.append(i) # 25
print(li1)

[12, 34, 25, 10, 3]

In [ ]:
# unique elements
i/p: [12 34 25 12 12 10 10 3 12]
o/p: [34 25 3]

In [ ]:
# tuple()
- Tuples are used to store multiple items in a single variable
- Tuples are immutable

In [54]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [56]:
t=(3,2,4,45,66,57)
t

(3, 2, 4, 45, 66, 57)

In [59]:
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))
print(len(t))

2
66
177
[2, 3, 4, 45, 57, 66]
6

In [61]:
t1=(2, 3, 4, 45, 57, 66)
t1[3]=78
t1

TypeError: 'tuple' object does not support item assignment

In [62]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [64]:
# count
t3=(2,3,4,2,3,4,11,4,4,22,2,2)
t3.count(2)

4

In [65]:
t3.index(3)

1

In [ ]:
# Dictionaries
- Dictionary
        - A dictionary is a key-value pair
        - A dictionary is a collection which is ordered and changable
        - Dictionaries are written with curly brackets,
          and have keys and values

In [66]:
# empty dictionary
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
d{key:value}

In [67]:
d1={1:56,7:34,2:67,9:"apple","work":"apssdc",5:8.8}
d1

{1: 56, 7: 34, 2: 67, 9: 'apple', 'work': 'apssdc', 5: 8.8}

In [73]:
d2={1:56,7:34,2:67,9:"apple",8:"apssdc",5:8.8}
print(min(d2))
print(max(d2))
print(sorted(d2))
print(len(d2))
print(sum(d2))

1
9
[1, 2, 5, 7, 8, 9]
6
32

In [75]:
d2={1:56,7:34,1:45,1:56,7:78,2:67,9:"apple",8:"apssdc",5:8.8}
print(d2)  # keys are different
# keys does not allow the duplicates

{1: 56, 7: 78, 2: 67, 9: 'apple', 8: 'apssdc', 5: 8.8}

In [76]:
# values allow the duplicates
df={1: 56, 7: 78, 2: 78, 9: 'apple', 8: 'apssdc', 5: 8.8}
df

{1: 56, 7: 78, 2: 78, 9: 'apple', 8: 'apssdc', 5: 8.8}

In [81]:
f1={1: 56, 7: 78, 2: 78,67:330}
f1[67]

330

In [82]:
f1[2]=90   # dictionaries are mutable
f1

{1: 56, 7: 78, 2: 90, 67: 330}

In [84]:
f={1: 56, 7: 78, 2: 90,{7:5,3:5} 67: 330}
f

SyntaxError: invalid syntax (<ipython-input-84-6d90fc1d2aa7>, line 1)

In [86]:
f={1: 56, 7: 78, 2: 90,7:{5,3,5},67: 330}
f

{1: 56, 7: {3, 5}, 2: 90, 67: 330}

In [87]:
f[7]

{3, 5}

In [88]:
f={1: 56, 7: 78, 2: 90,7:{5:3,7:89},67: 330}
f

{1: 56, 7: {5: 3, 7: 89}, 2: 90, 67: 330}

In [89]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [90]:
# get()
b={1: 56, 7: 78, 2: 90, 67: 330}
b.get(67)

330

In [91]:
# keys()
b.keys()

dict_keys([1, 7, 2, 67])

In [92]:
# values()
b.values()

dict_values([56, 78, 90, 330])

In [93]:
# items()
b.items()

dict_items([(1, 56), (7, 78), (2, 90), (67, 330)])

In [94]:
b

{1: 56, 7: 78, 2: 90, 67: 330}

In [95]:
# pop()
g={1: 56, 7: 78, 2: 90, 67: 330}
g.pop(7)
g

{1: 56, 2: 90, 67: 330}

In [96]:
# popitem()
g.popitem()
g

{1: 56, 2: 90}

In [97]:
g.popitem()
g

{1: 56}

In [98]:
g

{1: 56}